.parent {
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.box {
    width: 100px;
    height: 100px;
    background-color: burlywood;
}
