.form-head {
    color: blue;
    font-size: xx-large;
    font-weight: bolder;
    background-color: palevioletred;
    width: 250px;
}
.form-box label {
    color: brown;
    font-size: 100%;
    font-weight: bolder;
}
.form-box input {
width: 10%;
border-radius: 8px;
border: 4px solid;
height: 50px;
}
div {
    margin-bottom: 1%;
}
.form-box ::placeholder {
    color: darkgreen;
    font-size: x-small;
}
.form-box button {
    display: block;
    color: coral;
}
.form-box footer {
    text-align: center;
    font-stretch: semi-expanded;
    color: blueviolet;
    text-decoration: solid;
}
.form-box textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
    border: 4px solid;
    
    
}