.decide{
    color: rgb(38, 17, 1);
    border: dashed;
}
.decide.now{
    color: rgb(8, 100, 69);
    border: none;
}
#choice{
    color: aquamarine;
    background-color: palevioletred;
    border: dashed chocolate;
    padding: 50vh;
}
a [href]{
    background-color: blue;
}