body {
    background-color: bisque;
}
p {
    color: purple;
    background-color: blue;
    width: fit-content;
} 
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
div {
    display: flex;
    color: rosybrown;
}
.setFont {
    font-family: fantasy;
}
#van {
    border-radius: 10px;
    width: 20vw;
    height: 5vh;
}
